<div id="app">
    <!-- <h2>{{msg}}</h2> -->
    <header-app></header-app>
    <main>
        <aside class="sidebar">
            <sidebar></sidebar>
            <!-- <router-link active-class="is-active" class="link" :to="{ name: 'home'}">
                Home
            </router-link>
            <router-link active-class="is-active" class="link" :to="{ name: 'bestmovies'}">Best Movies</router-link>
            <router-link active-class="is-active" class="link" :to="{ name: 'genres'}">
                Genres
            </router-link> -->
        </aside>
        <div class="content">
            <router-view></router-view>
        </div>
    </main>
</div>