<div class="sidebar-container">
    <ul>
        <li><router-link to="/" exact>Home</router-link></li>
        <li><router-link to="/bestmovies">Best movies</router-link></li>
        <li><router-link to="/upcoming">Upcoming movies</router-link></li>
        <li><router-link to="/watchlist">Watchlist</router-link></li>
        <li><router-link to="/genres">Genres</router-link></li>
        <!-- <li v-for="section in sections"><router-link to="/" exact>{{section}}</router-link></li> -->
    </ul>
</div>