<div class="search-form">
    <input type="text" v-model="searchedMovie" placeholder="Enter movie title..." name="search-movie">
</div>
<!-- <div class="search_hidden search" id="search">
    <div class="logo_img">
        <picture>
            <source media="(min-width: 1024px)" srcset="img/1024-Composed-layer@1X.png 1x, img/1024-Composed-layer@1X.png 2x">
            <source media="(min-width: 768px)" srcset="img/logoStart768@1X.png 1x, img/logoStart768@2X.png 2x">
            <img class="logo" src="img/logoStart360.png" alt="mooogle_mooo">
        </picture>
    </div>
    <form id="search-form">
        <input type="search" name="q" placeholder="Search" id="search-form__input_search">
        <input type="submit" value="" id="search-form__input_submit">
    </form>
</div> -->
<!-- <div id="black_background">
    <div id="searchMovie"></div>
</div> -->