$color-primary: #aeea00;
$color-primary-dark: #79b700;
$color-primary-light: #e4ff54;
$color-grey-dark: #E1E2E1;
$color-grey-light: #F5F5F6;

$text-color-primary: #1a1a1a;

$container-max-width: 1170px;